*.pyc
__pycache__/
.env
venv/
.venv/
instance/
*.sqlite3
uploads/# Folder virtual environment
venv/

# File konfigurasi rahasia
.env

# File atau cache Python
_pycache_/
*.pyc

# File sistem
.DS_Store
Thumbs.db