body {}

/* Navbar Styling Start */
.navbar {
  background-color: #4b3c1b;
  padding: 10px 20px;
  box-sizing: border-box;
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar:hover {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #ffbf00;
  font-size: 1.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-shadow: 2px 0px 2px white;
  display: inline-block; /* Agar animasi bekerja pada elemen inline */
  animation: bounceSmooth 2s infinite; /* Animasi berjalan terus-menerus */
}

@keyframes bounceSmooth {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Posisi awal */
  }
  40% {
    transform: translateY(-20px); /* Gerakan ke atas */
  }
  60% {
    transform: translateY(-10px); /* Gerakan ke atas lebih kecil */
  }
}

.navbar-brand:hover {
  color: #ffffff;
  text-shadow: 2px 0px 2px #ffbf00;
}

.navbar-toggler {
  background-color: #ffbf00;
  border-radius: 10px;
  padding: 10px;
  border: none;
  transition: all 0.6s ease;
}

.navbar-toggler:hover {
  background-color: #ffd106;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2850, 50, 50, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease, padding 0.2s ease;
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
  text-transform: uppercase;
  /* margin: 0 10px; */
  /* font-size: 1.06rem; Ukuran lebih kecil */
  margin-right: 5px;
  /* Jarak ikon dengan teks */
  vertical-align: middle;
  /* Menyesuaikan posisi vertikal */
}

.nav-link:hover {
  color: rgb(248, 220, 5);
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ffbf00;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #4b3c1b;
  font-weight: bold;
  text-decoration: underline;
}

.nav-login,
.nav-register {
  text-decoration: none;
  line-height: 39px;
  font-weight: 600;
  color: #ffffff;
  font-size: 1rem;
  margin: 0px 22px;
  text-transform: uppercase;
  font-weight: 500;
  animation: pulse 1s infinite;
}

.nav-login {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid yellow;
  transition: 0.5s;
  color: #ffbf00;
}

.nav-login:hover {
  background-color: #ffbf00;
  color: #ffffff;
}

.nav-register {
  background-color: #ffbf00;
  padding: 8px;
  border-radius: 8px;
  transition: 0.7s;
}

.nav-register:hover {
  color: black;
}

.collapse {
  transition: height 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/*  Navbar Styling End */

/* Home Styling Start */
#home {
  background-color: #ffffff;
}

.banner {}

.banner img {
  object-position: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Home Styling End */

/* Sejarah Styling Start */
#sejarah {
  background-color: #ffffff;
}

#sejarah h1 {
  color: #ffbf00;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  font-size: 47px;
}

.coklat-section {
  color: white;
  padding: 60px 0;
  width: 100%;
  /* Full width untuk responsif */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../poto-sejarah-batik/Cokelat\ Emas\ Batik\ Elegan\ Selamat\ Datang\ Siswa\ Baru\ Banner\ Horizontal.png);
  font-size: 1.3em;
  font-family: "Schibsted Grotesk", sans-serif;
  /* font-weight: bold; */
  word-spacing: 0.7px;
  letter-spacing: 0.7px;
  text-align: justify;
}

.kuning-section {
  color: black;
  padding: 40px 0;
  width: 100%;
  /* Full width untuk responsif */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(../poto-sejarah-batik/Spanduk\ Ucapan\ Memperingati\ Hari\ Wayang\ Nasional\ Ilustratif\ Gradasi\ Coklat.png);
  font-size: 1.3em;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  text-align: justify;
}

.image-container img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {

  /* Untuk layar besar */
  .coklat-section {
    width: 80%;
  }

  .kuning-section {
    margin-left: 20%;
    width: 80%;
  }
}

/* Sejarah Styling End */

/* About Us Styling Start */
#aboutus {
  background: white;
  padding: 60px 20px;
  font-family: "Montserrat", sans-serif;
}

#aboutus h1 {
  color: #ffbf00;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.row-aboutus {
  align-items: center;
}

.word-aboutus {
  padding: 25px 20px;
  border-left: 5px solid #ffbf00;
  /* Garis aksen di kiri teks */
  background-color: rgba(255, 191, 0, 0.1);
  /* Latar belakang semi transparan */
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.7s ease-in-out;
}

.word-aboutus h5 {
  color: #ffbf00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.word-aboutus h5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #ffbf00;
  border-radius: 5px;
}

.word-aboutus p {
  font-size: 1.15em;
  line-height: 1.7;
  text-align: justify;
  color: #4b3c1b;
}

.gambar-aboutus img {
  max-width: 100%;
  border-radius: 15px;
  border: 5px solid #ffbf00;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: slideUp 0.7s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gambar-aboutus img:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

/* Animasi smooth saat elemen muncul */
.word-aboutus,
.gambar-aboutus img {
  opacity: 1;
}

#kelebihan {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.kelebihan h1 {
  color: #ffbf00;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  /* border-bottom: 2px solid #cead1e; */
}

.card-kelebihan {
  background-color: #4b3c1b;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.4s;
  animation: bounceIn 0.5s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card-kelebihan:hover {
  transform: scale(1.017);
  background: rgb(255, 191, 0, 1);
}

.card-text {
  color: #fff;
  font-weight: 400;
  word-spacing: 3px;
  text-align: left;
  transition: 0.1s;
}

.card-text:hover {}

/* About Us Styling End */

/* About US Styling Start */
#product {
  background: white;
  padding: 60px 20px;
  font-family: "Montserrat", sans-serif;
}

#product h1 {
  color: #ffbf00;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#product .row {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
}

#product p {
  font-size: 18px;
  color: #826a6a;
  font-style: italic;
}

/* Card Style */
.card-product {
  border: none;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card-product:hover {
  transform: scale(1.01);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  animation: grow 0.3s ease-in-out;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #444444;
}

/* Button Style */
.button-product {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffbf00;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-product:hover {
  background: linear-gradient(283deg,
      rgba(255, 209, 6, 1) 0%,
      rgba(255, 125, 6, 0.981) 31%,
      rgba(255, 235, 6, 1) 70%,
      rgba(219, 226, 55, 1) 100%);
  /* transform: scale(1.1); */
  color: black;
  transform: scale(1.1);
  background-color: #ffcc00;
  /* Warna hover */
}

/* Animasi untuk Tombol "Lihat Selengkapnya" */
#product .more {
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 700;
  
}

.more {
  animation: heartbeatSmooth 2s infinite; /* Animasi berjalan terus-menerus */
  transition: transform 0.2s ease-in-out;
}

@keyframes heartbeatSmooth {
  0%, 100% {
    transform: scale(1); /* Ukuran normal */
  }
  30% {
    transform: scale(1.1); /* Sedikit membesar */
  }
  60% {
    transform: scale(0.95); /* Sedikit mengecil */
  }
}

/* Animasi Slide Carousel */
.carousel-item {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ffbf00;
  /* Tambahkan warna jika diperlukan */
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* About US Stylin End */

/* Contact Styling Start */
#contact {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

#contact .container h1 {
  color: #ffbf00;
  font-weight: bold;
  letter-spacing: 1px;
  /* border-bottom: 2px solid #cead1e; */
  display: block;
  margin-bottom: 30px;
}

.medsos div p {
  font-weight: 600;
  letter-spacing: 2px;
}

/* Animasi untuk ikon sosial media */
.medsos .col-12 {
  animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Efek saat hover pada link sosial media */
.medsos a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: #ffcc00;
  /* Warna saat hover */
}

.bi {
  font-size: 4em;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.bi-facebook {
  color: blue;
}

.bi-instagram {
  color: rgb(218, 31, 31);
}

.bi-whatsapp {
  color: green;
}

.bi-geo-alt-fill {
  color: red;
}

.bi:hover {
  transform: scale(1.2);
  color: #ffbf00;
}

.cap {
  text-transform: uppercase;
  font-size: 1.2em;
}

.posisi {
  color: #6e6040;
}

/* Contact Styling End */

/* Review Styling Start */
#review {
  background-color: #ffffff;
  padding: 40px 0;
  font-family: "Montserrat", sans-serif;
}

#review h1 {
  color: #ffbf00;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  position: relative;
}

#review .container {
  max-width: 800px;
}

#review .row {
  width: 100%;
  max-width: 400px;
  background: #e7e5d4;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#review .row:hover {
  background: #726a3b;
  /* transform: translateY(-5px); */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.form-review {
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-review label {
  color: #333;
  font-weight: bold;
}

.form-review input,
.form-review textarea {
  border: none;
  border-radius: 8px;
  background-color: #fffbea;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px 15px;
  color: #333;
  transition: box-shadow 0.3s;
}

.form-review input:focus,
.form-review textarea:focus {
  box-shadow: 0 0 10px rgba(255, 191, 0, 0.5);
  outline: none;
}

#submitReview {
  background-color: #aab396;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}

#submitReview:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}

/* Review Styling End */

/* Footer Style Start */

#footer {
  background-color: #4b3c1b;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer h5 {
  font-size: 18px;
  font-weight: bold;
  color: #ffbf00;
}

.footer p {
  font-size: 13px;
  letter-spacing: 1px;
  /* padding-bottom: 5px; */
}

.footer .lead {
  font-weight: 600;
  font-size: 15px;
}

.footer ul {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

.footer li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.footer .copy-right {
  font-size: 20px;
}

/* Efek Hover pada Link Footer */
#footer a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

/* Animasi untuk Teks Copyright */
.copy-right {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}